:root{
  --num-of-grids:4
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.gridlayout{
  display: grid;
  grid-template-columns: repeat(var(--num-of-grids), 1fr);
  grid-template-rows: repeat(var(--num-of-grids), );
}