@tailwind base;
@tailwind components;
@tailwind utilities;


.css-selector {
  background: linear-gradient(337deg, #243a66, #ff9272, #e3ff72, #8b5ee6, #e65ecf, #e6ad5e);
  background-size: 1200% 1200%;

  -webkit-animation: AnimationName 38s ease infinite;
  -moz-animation: AnimationName 38s ease infinite;
  animation: AnimationName 38s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:77% 0%}
  50%{background-position:24% 100%}
  100%{background-position:77% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:77% 0%}
  50%{background-position:24% 100%}
  100%{background-position:77% 0%}
}
@keyframes AnimationName {
  0%{background-position:77% 0%}
  50%{background-position:24% 100%}
  100%{background-position:77% 0%}
}
.containerz {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}