@tailwind base;
@tailwind components;
@tailwind utilities;


.css-selector {
  background: linear-gradient(337deg, #243a66, #ff9272, #e3ff72, #8b5ee6, #e65ecf, #e6ad5e);
  background-size: 1200% 1200%;

  -webkit-animation: AnimationName 38s ease infinite;
  -moz-animation: AnimationName 38s ease infinite;
  animation: AnimationName 38s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:77% 0%}
  50%{background-position:24% 100%}
  100%{background-position:77% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:77% 0%}
  50%{background-position:24% 100%}
  100%{background-position:77% 0%}
}
@keyframes AnimationName {
  0%{background-position:77% 0%}
  50%{background-position:24% 100%}
  100%{background-position:77% 0%}
}
.containerz {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}
.glow {
  font-size: 2rem;
	    text-align: center;
	    color: #fcedd8;
	    /* background: #d52e3f; */
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939;
}